{
    "singleQuote": true,
    "jsxSingleQuote": false,
    "semi": true,
    "trailingComma": "all",
    "tabWidth": 2,
    "useTabs": true,
    "printWidth": 120,
    "bracketSpacing": true,
    "arrowParens": "always",
    "proseWrap": "preserve",
    "embeddedLanguageFormatting": "off"
}
